<!DOCTYPE html>
<html>
    <head>
        <title>member information</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" type="text/css" href="../../static/information.css">
    </head>
    <body background = "../../static/2.jpg">
        <nav>
            <ul>
                <li><a href="/login/describe">简介</a></li>
                <li class="selected"><a href="/login/system">垃圾系统</a></li>
                <li><a href="/login/show_event">系统进阶</a></li>
                <li><a href="/login/information">成员信息</a></li>
            </ul>
        </nav>

        <div id="tableContainer">
            <div id="tableRow">
                        
                <section id="member1">
                    <h1>个人信息</h1>
                        <p>姓名：谢天琦</p>
                        <p>学号：22920162204058</p>
                    <h1>负责部分</h1>
                </section>
                        
                <section id="member2">
                    <h1>个人信息</h1>
                        <p>姓名：张子生</p>
                         <p>学号：22920162204086</p>
                    <h1>负责部分</h1>
                </section>
                            
                <section id="member3">
                    <h1>个人信息</h1>
                        <p>姓名：刘洋合</p>
                        <p>学号：22920162204025</p>
                    <h1>负责部分</h1>
                </section>
                        
            </div> <!-- tableRow -->
        </div> <!-- tableContainer -->
            
        <footer>
            &copy; 2019, 软件系统结构
            <br>
                上述所有的内容全是由我们小组独立完成
        </footer>
    </body>
</html>